* {
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}
.txt_div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: lightgray;

}
.num{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #888;
    font-size: xx-large;
    font-weight: bold;
    margin: 2px;
}
.mat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #888;
    font-size: xx-large;
    font-weight: bold;
    margin: 2px;
}
.btn_gerador{
    background-color: #aaa;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}